<div class="venues">
  <div class="d-flex">
    <h1 class="title mx-auto">
      Bienvenido a Xavy! Tu directorio de centros deportivos.
    </h1>
  </div>
  <hr class="separator" />
  <div class="container-fluid my-5">
    <div class="row">
      <%= render partial: 'venue', collection: @venues %>
    </div>
  </div>
</div>
