<div class="container mt-5">
  <div class="panel">
    <div class="panel__header">
      <h5>Editar actividad</h5>
      <%= link_to 'Cancel', admin_activities_path, class: 'btn btn-outline-danger' %>
    </div>
    <div class="panel__content">
      <%= render 'form', url: admin_activity_path(@activity) %>
    </div>
  </div>
</div>
