<nav class="navbar navbar-expand-md navbar-light bg-primary shadow-sm">
  <%= link_to root_url, class: 'navbar-brand' do %>
  <span class="font-weight-bold text-white h2">
    <%= image_tag 'logo.png', class: 'navbar-logo img-responsive', alt: 'Savy Logo' %>
    Xavy
  </span>
  <% end %>
</nav>
